aa html,
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Poppins-Medium.ttf";
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  width: 100vw;
  height: 100px;
}
header .links {
  display: none;
}
header h1 {
  color: white;
  font-size: xx-large;
  font-style: italic;
  margin: 50px 30px;
}
header h1 span {
  color: red;
}

.banner .video {
  background-color: black;
  height: 80vh;
}
.banner .video video {
  width: 100vw;
  height: 80vh;
}
.banner h2 {
  position: absolute;
  top: 30%;
  text-align: center;
  color: red;
  font-size: 40px;
  left: 25%;
}
.banner h1 {
  position: absolute;
  top: 40%;
  left: 15%;
  font-size: 40px;
  color: white;
}
.banner p {
  position: absolute;
  top: 55%;
  left: 15%;
  font-size: 20px;
  color: red;
}
.banner .hire {
  background-color: black;
  width: 120px;
  height: 60px;
  border: solid red 1px;
  position: absolute;
  top: 70%;
  left: 30%;
}
.banner .hire a {
  text-align: center;
  color: red;
  text-decoration: none;
  font-size: x-large;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  margin: 50px 0;
}
.about .col-md-6 h6 {
  color: red;
  margin-top: 20px;
}
.about .col-md-6 h4 {
  color: black;
  font-size: 40px;
  margin-top: 20px;
  font-family: "Montserrat-Light.ttf";
  font-style: italic;
}
.about .col-md-6 h4 span {
  border-bottom: solid red 6px;
}
.about .col-md-6 p {
  font-size: larger;
  line-height: 30px;
  margin-top: 20px;
}
.about .col-md-6 button {
  background-color: white;
  color: red;
  width: 160px;
  height: 40px;
  border: solid red 1px;
  margin-top: 30px;
}

.services {
  margin: 60px 0;
}
.services h2 {
  color: black;
  font-size: 40px;
  text-align: center;
  font-family: "Montserrat-Light.ttf";
  font-style: italic;
}
.services .row .col-md-3 {
  margin: 30px 0px;
  line-height: 40px;
  border-bottom: solid rgba(255, 51, 0, 0.685) 1px;
  text-align: center;
}
.services .row .col-md-3 h5 {
  font-size: x-large;
  text-decoration: underline;
}

.portfolio h2 {
  font-size: 40px;
  text-align: center;
  font-family: "Montserrat-Light.ttf";
  font-style: italic;
}
.portfolio .row .col-md-3 {
  margin: 30px 0;
}
.portfolio .row .col-md-5 {
  margin: 30px 0;
}
.portfolio .row .col-md-4 {
  margin: 30px 0;
}

.contact {
  text-align: center;
}
.contact h2 {
  font-size: 40px;
  text-align: center;
  font-family: "Montserrat-Light.ttf";
  font-style: italic;
}
.contact .col-md-7 h6 {
  font-size: xx-large;
  margin-top: 30px;
  text-align: start;
}
.contact .col-md-7 form {
  margin: 30px 0;
}
.contact .col-md-7 form input {
  width: 96%;
  height: 52px;
}
.contact .col-md-7 form #mess {
  height: 90px;
}
.contact .col-md-5 {
  line-height: 30px;
}
.contact .col-md-5 h5 {
  font-size: 30px;
}
.contact .col-md-5 a {
  color: black;
  text-decoration: none;
  margin-left: -10px;
}
.contact .col-md-5 .ss {
  display: flex;
}
.contact .col-md-5 .ss .a {
  margin: 30px;
}
.contact .col-md-5 .ss .a a {
  font-size: xx-large;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  header {
    display: flex;
    align-items: center;
    width: 100vw;
  }
  header .links {
    display: block;
    margin-right: 60px;
  }
  header .links a {
    color: white;
    text-decoration: none;
    margin: 0 30px;
    font-size: large;
  }
  header .links a:hover {
    color: red;
    transition: 3s;
  }
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner video {
    width: 100vw;
  }
  .banner h2 {
    left: 45%;
  }
  .banner h1 {
    left: 35%;
  }
  .banner p {
    left: 43%;
  }
  .banner .hire {
    margin-left: 18%;
    width: 170px;
  }
  .about {
    margin: 70px 0;
    margin-top: 150px;
  }
  .about .col-md-6 img {
    width: 50%;
    margin-top: 60px;
    border-bottom: solid red 6px;
    border-right: solid red 6px;
    margin-left: 40px;
  }
  .services .row {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
  }
  .services .row .col-md-3 {
    border: solid red 1px;
    margin: 30px 20px;
  }
  .contact {
    margin: 50px 0;
  }
  .contact .col-md-7 {
    margin-top: 30px;
  }
  .contact .col-md-7 form #mess {
    height: 120px;
  }
  .contact .col-md-7 form input {
    margin: 5px 0;
  }
  .contact .col-md-7 button {
    width: 120px;
    background-color: white;
    height: 40px;
    color: red;
    border: solid 1px red;
  }
  .contact .col-md-5 {
    margin-top: 50px;
    line-height: 40px;
  }
  .contact .col-md-5 .ss {
    margin-left: 40px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
/* Set width to make card deck cards 100% width *//*# sourceMappingURL=style.css.map */